<!DOCTYPE html>
<html>
<head>
  <title>Static Home</title>
</head>
<body>
  <div class="header">
    <h1>Welcome Home</h1>
  </div>
  <div class="wrapper">
    <div>
      <% if logged_in? %>
        <h4>Welcome Home <%= current_user.screen_name %> </h4>
        <%= render 'shared/article_form' %><br>
        <%= link_to "Users", users_path %> | 
        <%= link_to "Profile", current_user %> | 
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
      <p class="clearfix">
        Here is some descriptive text about this forum!
        Here is some descriptive text about this forum!
        Here is some descriptive text about this forum!
        Here is some descriptive text about this forum!
      </p>
      <div class="login" align="right">
        <%= form_for(:session, url: login_path) do |form| %>
          <%= form.label :screen_name %>
          <%= form.text_field :screen_name %><br>

          <%= form.label :password %>
          <%= form.password_field :password %><br>

          <%= form.submit "Log In", class: "btn btn-primary" %>
        <% end %>
        <p>
          New User?<br>
          <%= link_to "Sign Up!", new_user_path %>
        <% end %>
      </div>
      </p>
    </div>

  </div>

</body>
</html>
