<!DOCTYPE html>
<html>
<head>
  <title>Sign Up!</title>
</head>
<body>
  <div class="sign_up">
    <div class="col-md-6">
      <h2><em>Sign Up</em></h2>
      <%= form_for(@user) do | form | %>

        <%= render 'shared/error_messages' %>

        <%= form.label :name %><br>
        <%= form.text_field :name %><br><br>

        <%= form.label :screen_name %><br>
        <%= form.text_field :screen_name %><br><br>

        <%= form.label :email %><br>
        <%= form.email_field :email %> <br><br>

        <%= form.label :password %><br>
        <%= form.password_field :password %><br><br>

        <%= form.label :password_confirmation, "Confirm Password" %><br>
        <%= form.password_field :password_confirmation %><br><br>

        <%= form.submit "Create Account" %>
      <% end %>
    </div>
  </div>
</body>
</html>