<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  
  <% provide(:title, @user.name) %>
  <div class="header">
    <h1>
      <%= @user.name %>
    </h1>
  </div>
  <div class="wrapper">  
    <div>
      <!-- <div class="profile_picture">
        <%= gravatar_for @user %>
      </div> -->
      <div>
        <strong>Screen Name: </strong><%= @user.screen_name %><br>
        <strong>Email: </strong><%= @user.email %><br>
        <%= link_to 'edit', edit_user_path(@user) %>
        <% if current_user.permission >= 3 %>
          <div class="admin_control">
            <em>Admin Controls: </em><br>
            <%= link_to 'All Users', users_path %>
          </div>
        <% end %>
        <%= render 'shared/article_form' %>
      </div>
    </div>
  <% if @articles.any? %>
    <div id="post_wrapper">
      <div>
        <strong>Posts</strong>
        <ol class="articles">
          <%= render @articles %>
        </ol>
      </div>
    <% end %>
    </div>
  </div>

</body>
</html>